
.headerLogo{
    font-size: 52px;
    font-family: 'lato',sans-serif;
}

.headerTitle{
color: white;
font-size: 40px;
font-family: 'Lato', sans-serif;;
}
.headerServices{
    font-size: 18px;
    font-family: 'Lato', sans-serif;;

}